
<header class="main-header">
<!-- Logo -->
<a href="<?php echo $this->Html->url('/') ?>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>Is </b>I</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Islam </b>Intel</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
</a>
<div class="navbar-custom-menu">
<ul class="nav navbar-nav">

<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!--        <img src="img/user2-160x160.jpg" class="user-image" alt="User Image">-->
<?php echo $this->Html->image('/img/avatar/default.png', ['class' => 'user-image','alt' => 'User Image'])?>
        <span class="hidden-xs"><?php echo(AuthComponent::user(['fullname']));?></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <!--            <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
<?php echo $this->Html->image('/img/avatar/default.png', ['class' => 'user-image','alt' => 'User Image'])?>
            <p>
                <?php echo(AuthComponent::user(['fullname']));?><br><?php echo (AuthComponent::user(['college'])) ?>
                <small>Member since <?php echo(AuthComponent::user(['created']));?></small>
            </p>
        </li>
        <!-- Menu Body -->

        <!-- Menu Footer-->
        <li class="user-footer">
<!--            <div class="pull-left">-->
<!--                <a href="--><?php //echo $this->Html->url('/users/profile', true); ?><!--" class="btn btn-primary btn-flat">Profile</a>-->
<!--            </div>-->
            <div class="pull-right">
                <a href="<?php echo $this->Html->url('/admin/users/logout', true)?>" class="btn btn-danger btn-flat">Sign out</a>
            </div>
        </li>
    </ul>
</li>
<!-- Control Sidebar Toggle Button -->

</ul>
</div>

</nav>
</header>
